<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        <%- include('../_partials/_head.ejs'); %>
        <%- include('../_partials/_cdn_datatables'); %>
        <%- include('../_partials/_cdn_googlecharts'); %>
        <!-- prettier-ignore -->
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
                fetch(`<%= baseURL %>/api/number_of_drugs_sold_by_months`)
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.json();
                    })
                    .then((data) => {
                        const formattedData = {};
                        data.number_of_drugs_sold_by_months.forEach((item) => {
                            const {
                                drug_name,
                                customer_drug_date,
                                customer_drug_amount
                            } = item;

                            if (!formattedData[customer_drug_date]) {
                                formattedData[customer_drug_date] = {
                                    date: new Intl.DateTimeFormat("tr-TR", {
                                        month: "short",
                                        year: "numeric",
                                    }).format(new Date(customer_drug_date)),
                                };
                            }
                            formattedData[customer_drug_date][drug_name] = parseInt(customer_drug_amount, 10) || 0;
                        });

                        const drugs = [
                            ...new Set(
                                data.number_of_drugs_sold_by_months.map(
                                    (item) => item.drug_name
                                )
                            ),
                        ];
                        const chartDataArray = [["Tarih", ...drugs]];

                        Object.values(formattedData).forEach((row) => {
                            const rowArray = [row.date];
                            drugs.forEach((drug) => {
                                rowArray.push(row[drug] || 0);
                            });
                            chartDataArray.push(rowArray);
                        });

                        const chartData =
                            google.visualization.arrayToDataTable(
                                chartDataArray
                            );

                        const options = {
                            vAxis: { title: "Satılan İlaç Adedi" },
                            hAxis: {
                                title: "Tarih",
                                format: "M/d/yy",
                                slantedText: true,
                                slantedTextAngle: 45,
                            },
                            seriesType: "bars",
                            series: { [drugs.length]: { type: "line" } },
                            chartArea: {
                                top: 50,
                                right: 200,
                                bottom: 150,
                                left: 100,
                            },
                        };

                        const chart = new google.visualization.ComboChart(
                            document.getElementById("chart_div")
                        );
                        chart.draw(chartData, options);
                    })
                    .catch((error) => {
                        console.error("Error fetching data:", error);
                        alert(
                            "Veri alınırken bir hata oluştu. Lütfen tekrar deneyin."
                        );
                    });
            }
        </script>
    </head>

    <body>
        <!-- prettier-ignore -->
        <%- include('../_partials/_header') %>
        <%- include('../_partials/_sidebar') %>
        <!-- prettier-ignore -->

        <main id="main" class="main" style="min-height: 100vh">
            <section class="section dashboard">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 25px; font-weight: bold;"
                                >
                                    Aylara Göre Satılan İlaç Adetleri
                                </h1>
                                <div
                                    id="chart_div"
                                    style="min-width: 100%; height: 70vh"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div
                                class="card-body"
                            >
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Sipariş Geçmişi
                                </h1>
                                <table
                                    id="table_orders"
                                    class="display rounded"
                                    style="
                                        width: 100%;
                                        background-color: whitesmoke;
                                    "
                                >
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Ad</th>
                                            <th>Soyad</th>
                                            <th>Cinsiyet</th>
                                            <th>İlaç</th>
                                            <th class="text-center">Fiyat</th>
                                            <th class="text-center">Adet</th>
                                            <th class="text-center">Toplam</th>
                                            <th class="text-center">Tarih</th>
                                            <th class="text-center">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- prettier-ignore -->
                                        <% customers_order_history.forEach(item => { %>
                                        <!-- prettier-ignore -->
                                        <tr>
                                            <td class="text-center"><%= item.customer_drug_id %></td>
                                            <td><%= item.customer_name %></td>
                                            <td><%= item.customer_surname %></td>
                                            <td><%= item.gender_name %></td>
                                            <td><%= item.drug_name %></td>
                                            <td class="text-center"><%= item.drug_sale_price %> ₺</td>
                                            <td class="text-center"><%= item.customer_drug_amount %> Adet</td>
                                            <td class="text-center"><%= item.drug_total_price %> ₺</td>
                                            <td class="text-center"><%= new Intl.DateTimeFormat("tr-TR", { day: "numeric", month: "short", year: "numeric" }).format(new Date(item.customer_drug_date)) %></td>
                                            <td class="text-danger text-center">
                                                <a href="<%= baseURL %>/order/delete/<%= item.customer_drug_id %>" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- prettier-ignore -->
        <%- include('../_partials/_footer') %>
        <%- include('../_partials/_arrowup') %>
        <%- include('../_partials/_scripts') %>
        <!-- prettier-ignore -->
        <script>
            new DataTable("#table_orders", {
                paging: false,
                scrollCollapse: true,
                scrollY: "75vh",
                order: [[0, "desc"]],
            });
        </script>
    </body>
</html>
