<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        <%- include('../_partials/_head'); %>
        <%- include('../_partials/_cdn_datatables'); %>
        <%- include('../_partials/_cdn_googlecharts'); %>
        <!-- prettier-ignore -->

        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(fetchDataAndDrawChart);

            async function fetchDataAndDrawChart() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/number_of_orders_placed_from_suppliers`
                    );
                    const result = await response.json();

                    const chartData = [
                        ["Tedarikçi", "Sipariş Sayısı", { role: "style" }],
                    ];
                    result.number_of_orders_placed_from_suppliers.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.supply_name,
                            parseFloat(item.number),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Tedarikçi",
                        },
                        vAxis: {
                            title: "Sipariş Sayısı",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 40,
                            bottom: 120,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

            // Rastgele renk oluşturma fonksiyonu
            function generateColor() {
                const letters = "0123456789ABCDEF";
                let color = "#";
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>
    </head>

    <body>
        <!-- prettier-ignore -->
        <%- include('../_partials/_header') %>
        <%- include('../_partials/_sidebar') %>

        <main id="main" class="main" style="min-height: 100vh">
            <section class="section dashboard">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body" style="min-height: 30vh">
                                <h1
                                    class="py-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Tedarikçi Ekle
                                </h1>
                                <form
                                    action="<%= baseURL %>/supply/create"
                                    method="post"
                                >
                                    <div class="d-flex flex-column gap-3 w-50">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="supply_name"
                                            placeholder="Tedarikçi Adı"
                                            required
                                        />
                                        <button
                                            class="btn btn-success"
                                            style="width: 100px"
                                            type="submit"
                                        >
                                            Ekle
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            <div class="card-body" style="min-height: 60vh">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Tedarikçi Listesi
                                </h1>
                                <table
                                    id="table_suppliers"
                                    class="display rounded"
                                    style="
                                        width: 100%;
                                        background-color: whitesmoke;
                                    "
                                >
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Tedarikçi Adı</th>
                                            <th class="text-center">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- prettier-ignore -->
                                        <% list_supply.forEach(item => { %>
                                        <!-- prettier-ignore -->
                                        <tr>
                                            <td class="text-center"><%= item.supply_id %></td>
                                            <td><%= item.supply_name %></td>
                                            <td class="text-danger text-center">
                                                <a href="<%= baseURL %>/supply/delete/<%= item.supply_id %>" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body" style="min-height: 30vh">
                                <h1
                                    class="py-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Tedarikçi Fiyat Bilgisi Ekle
                                </h1>
                                <form
                                    action="<%= baseURL %>/supply/supply_drug/create"
                                    method="post"
                                >
                                    <div class="d-flex flex-column gap-3 w-50">
                                        <select
                                            class="form-select"
                                            name="supply_id"
                                            required
                                        >
                                            <option value="" selected>
                                                Tedarikçi Adı
                                            </option>
                                            <% list_supply.forEach(item => { %>
                                            <option
                                                value="<%= item.supply_id %>"
                                            >
                                                <%= item.supply_name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <select
                                            class="form-select"
                                            name="drug_id"
                                            required
                                        >
                                            <option value="" selected>
                                                İlaç Adı
                                            </option>
                                            <!-- prettier-ignore -->
                                            <% list_drug.forEach(item => { %>
                                            <option value="<%= item.drug_id %>">
                                                <%= item.drug_name %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="buying_price"
                                            placeholder="Tedarikçi Satış Fiyatı, Örn: 24.99"
                                            required
                                        />
                                        <button
                                            class="btn btn-success"
                                            style="width: 100px"
                                            type="submit"
                                        >
                                            Ekle
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            <div class="card-body" style="min-height: 60vh">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Tedarikçi Fiyat Listesi
                                </h1>
                                <table
                                    id="table_supply_drug"
                                    class="display rounded"
                                    style="
                                        width: 100%;
                                        background-color: whitesmoke;
                                    "
                                >
                                    <thead>
                                        <tr>
                                            <th>Tedarikçi</th>
                                            <th>İlaç</th>
                                            <th class="text-center">
                                                Tedarikçi Satış Fiyatı
                                            </th>
                                            <th class="text-center">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- prettier-ignore -->
                                        <% suppliers_sales_information.forEach(item => { %>
                                        <!-- prettier-ignore -->
                                        <tr>
                                            <td><%= item.supply_name %></td>
                                            <td><%= item.drug_name %></td>
                                            <td class="text-center"><%= item.drug_buying_price %> ₺</td>
                                            <td class="text-danger text-center">
                                                <a href="<%= baseURL %>/supply/supply_drug/delete/<%= item.supply_drug_id %>" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 25px; font-weight: bold"
                                >
                                    Tedarikçilerden Verilen Sipariş Sayıları
                                </h1>
                                <div
                                    id="chart_div"
                                    style="min-width: 100%; height: 60vh"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body" style="min-height: 30vh">
                                <h1
                                    class="py-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Tedarikçiden Sipariş Oluştur
                                </h1>
                                <form
                                    action="<%= baseURL %>/supply/order/create"
                                    method="post"
                                >
                                    <div class="d-flex flex-column gap-3 w-50">
                                        <select
                                            class="form-select"
                                            name="supply_drug_id"
                                            required
                                        >
                                            <option value="">
                                                Tedarikçi Satış Bilgisi
                                            </option>
                                            <!-- prettier-ignore -->
                                            <% suppliers_sales_information.forEach(item => { %>
                                            <!-- prettier-ignore -->
                                            <option value="<%= item.supply_drug_id %>">
                                                <%= `${item.supply_name} - ${item.drug_name} - ${item.drug_buying_price} ₺` %>
                                            </option>
                                            <% }) %>
                                        </select>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="amount"
                                            placeholder="Adet"
                                            required
                                        />
                                        <button
                                            class="btn btn-success"
                                            style="width: 100px"
                                            type="submit"
                                        >
                                            Ekle
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            <div class="card-body" style="min-height: 60vh">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 24px; font-weight: bold"
                                >
                                    Tedarikçi Sipariş Listesi
                                </h1>
                                <table
                                    id="table_order"
                                    class="display rounded"
                                    style="
                                        width: 100%;
                                        background-color: whitesmoke;
                                    "
                                >
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th>Tedarikçi</th>
                                            <th>İlaç</th>
                                            <th class="text-center">
                                                Tedarikçi Satış Fiyatı
                                            </th>
                                            <th class="text-center">Adet</th>
                                            <th class="text-center">
                                                Toplam Tutar
                                            </th>
                                            <th class="text-center">Tarih</th>
                                            <th class="text-center">Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- prettier-ignore -->
                                        <% order_infos_for_supplied_drugs.forEach(item => { %>
                                        <!-- prettier-ignore -->
                                        <tr>
                                            <td class="text-center"><%= item.order_id %></td>
                                            <td><%= item.supply_name %></td>
                                            <td><%= item.drug_name %></td>
                                            <td class="text-center"><%= item.drug_buying_price %> ₺</td>
                                            <td class="text-center"><%= item.order_amount %> Adet</td>
                                            <td class="text-center"><%= item.order_total_price %> ₺</td>
                                            <td class="text-center"><%= new Intl.DateTimeFormat("tr-TR", { day: "numeric", month: "short", year: "numeric" }).format(new Date(item.order_date)) %></td>
                                            <td class="text-danger text-center">
                                                <a href="<%= baseURL %>/supply/order/delete/<%= item.order_id %>" class="btn btn-outline-danger">Sil</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- prettier-ignore -->
        <%- include('../_partials/_footer') %>
        <%- include('../_partials/_arrowup') %>
        <%- include('../_partials/_scripts') %>
        <!-- prettier-ignore -->
        <script>
            new DataTable("#table_suppliers", {
                paging: false,
                scrollCollapse: true,
                scrollY: "50vh",
                order: [[0, "desc"]],
            });

            new DataTable("#table_supply_drug", {
                paging: false,
                scrollCollapse: true,
                scrollY: "50vh",
                order: [[0, "asc"]],
            });

            new DataTable("#table_order", {
                paging: false,
                scrollCollapse: true,
                scrollY: "50vh",
                order: [[0, "desc"]],
            });
        </script>
    </body>
</html>
