<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="<%= baseURL %>/">
                <i class="fa-solid fa-house-chimney" style="width: 20px"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="<%= baseURL %>/order">
                <i class="fa-solid fa-cart-shopping" style="width: 20px"></i>
                <span>Sipariş Geçmişi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="<%= baseURL %>/customer">
                <i class="fa-solid fa-people-group" style="width: 20px"></i>
                <span>Müşteri Bilgileri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="<%= baseURL %>/drug">
                <i class="fa-solid fa-capsules" style="width: 20px"></i>
                <span>İlaçlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="<%= baseURL %>/supply">
                <i class="fa-solid fa-truck-front" style="width: 20px"></i>
                <span>Tedarikçiler</span>
            </a>
        </li>
    </ul>
</aside>
