<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        <%- include('./_partials/_head') %>
        <%- include('./_partials/_cdn_googlecharts') %>
        <!-- prettier-ignore -->

        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(fetchDataAndDrawChart1);
            google.charts.setOnLoadCallback(fetchDataAndDrawChart2);
            google.charts.setOnLoadCallback(fetchDataAndDrawChart3);

            async function fetchDataAndDrawChart1() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/number_of_sales_process_by_months`
                    );
                    const result = await response.json();

                    const chartData = [
                        ["Aylar", "Alışveriş", { role: "style" }],
                    ];
                    result.number_of_sales_process_by_months.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.fulldate,
                            parseFloat(item.number),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Aylar",
                            minValue: 0,
                            format: "decimal",
                            slantedText: true,
                            slantedTextAngle: 45,
                        },
                        vAxis: {
                            title: "Alışveriş",
                            format: "decimal",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 40,
                            bottom: 170,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div1")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

            async function fetchDataAndDrawChart2() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/number_of_sales_revenue_by_months`
                    );
                    const result = await response.json();

                    const chartData = [["Aylar", "Hasılat", { role: "style" }]];
                    result.number_of_sales_revenue_by_months.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.fulldate,
                            parseFloat(item.number),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Aylar",
                            minValue: 0,
                            format: "decimal",
                            slantedText: true,
                            slantedTextAngle: 45,
                        },
                        vAxis: {
                            title: "Hasılat",
                            format: "decimal",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 40,
                            bottom: 170,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div2")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

            async function fetchDataAndDrawChart3() {
                try {
                    const response = await fetch(
                        `<%= baseURL %>/api/number_of_sales_amount_by_months`
                    );
                    const result = await response.json();

                    const chartData = [["Aylar", "Adet", { role: "style" }]];
                    result.number_of_sales_amount_by_months.forEach((item) => {
                        const color = generateColor();
                        chartData.push([
                            item.fulldate,
                            parseFloat(item.number),
                            color,
                        ]);
                    });

                    const data =
                        google.visualization.arrayToDataTable(chartData);

                    const options = {
                        hAxis: {
                            title: "Aylar",
                            minValue: 0,
                            format: "decimal",
                            slantedText: true,
                            slantedTextAngle: 45,
                        },
                        vAxis: {
                            title: "Adet",
                            format: "decimal",
                        },
                        legend: { position: "none" },
                        chartArea: {
                            top: 40,
                            bottom: 170,
                        },
                    };

                    const chart = new google.visualization.ColumnChart(
                        document.getElementById("chart_div3")
                    );

                    chart.draw(data, options);
                } catch (error) {
                    console.error("Veri çekilirken hata oluştu:", error);
                }
            }

            // Rastgele renk oluşturma fonksiyonu
            function generateColor() {
                const letters = "0123456789ABCDEF";
                let color = "#";
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>
    </head>

    <body>
        <!-- prettier-ignore -->
        <%- include('./_partials/_header') %>
        <%- include('./_partials/_sidebar') %>
        <!-- prettier-ignore -->

        <main id="main" class="main" style="min-height: 100vh">
            <section class="section dashboard">
                <div class="row">
                    <div
                        class="col-lg-12 d-flex justify-content-center flex-wrap"
                    >
                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh; background-color: #4154f1;">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: white">Toplam Gelir</h5>
                                    <div class="d-flex align-items-center" style="color: white">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="color: #4154f1"
                                        >
                                            <i class="fa-solid fa-turkish-lira-sign"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6 style="color: white">
                                                <%=
                                                    sum_total_revenue[0].number
                                                %> ₺
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">Satılan İlaç Adedi</h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fa-solid fa-capsules"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%=
                                                    sum_total_amount[0].number
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">Müşteri (Kişi)</h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fa-solid fa-users"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%=
                                                    count_amount_customer[0].number
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Alışveriş (İşlem)
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%=
                                                    count_amount_process[0].number
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Kayıtlı İlaç Çeşidi (Stok)
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fa-solid fa-bookmark"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%= 
                                                    count_amount_drug[0].number
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">Tedarikçi</h5>
                                    <div class="d-flex align-items-center mt-4 mb-1">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                        <i class="fa-solid fa-truck"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%=
                                                    count_amount_supply[0].number 
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Tedarik Edilebilir İlaç Çeşidi
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fa-solid fa-tablets"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%=
                                                    count_amount_supply_drug[0].number
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 px-4">
                            <div class="card info-card sales-card" style="min-height: 20vh;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Tedarikçilerden Verilen İlaç Siparişi
                                    </h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                                        >
                                            <i class="fa-solid fa-truck-fast"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>
                                                <%= 
                                                    count_amount_order[0].number
                                                %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 25px; font-weight: bold;"
                                >
                                    Aylara Göre Alışveriş Sayıları
                                </h1>
                                <div
                                    id="chart_div1"
                                    style="min-width: 100%; height: 60vh"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 25px; font-weight: bold;"
                                >
                                    Aylara Göre Hasılatlar (₺)
                                </h1>
                                <div
                                    id="chart_div2"
                                    style="min-width: 100%; height: 60vh"
                                ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1
                                    class="text-center pt-3"
                                    style="font-size: 25px; font-weight: bold;"
                                >
                                    Aylara Göre Satılan Toplam İlaç Adetleri
                                </h1>
                                <div
                                    id="chart_div3"
                                    style="min-width: 100%; height: 60vh"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- prettier-ignore -->
        <%- include('./_partials/_footer') %>
        <%- include('./_partials/_arrowup') %>
        <%- include('./_partials/_scripts') %>
        <!-- prettier-ignore -->
    </body>
</html>
